PORT=5000
MONGODB_URI=mongodb+srv://ahmadwaissarwari786_db_user:VRKUdIajQw5YzL82@madrasaemis.3b6folt.mongodb.net/madrasaEMIS?retryWrites=true&w=majority
JWT_SECRET=4ac09f157c3c5414ffd39dbc939e9530da22da20736b5b9447086c46f134e30add4ded61c0b1bbfd680f85b0bef38a21e124c05d741539521114edddda9f1fa5
#  the Compose link > add this link 
# mongodb+srv://ahmadwaissarwari786_db_user:VRKUdIajQw5YzL82@madrasaemis.3b6folt.mongodb.net/